/* * {
  border: 1px solid red;
} */

:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --common-black: #2f2f37;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
  --text-size: 16px;
  --line-height: 1.5;
  --letter-spacing: 0.02em;
}
/* ==================== RESET ==================== */

body {
  font-family: var(--font-family);
  font-size: var(--text-size);
  background-color: var(--white);
  color: var(--slate);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: inherit;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.scnd-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 8px;

  @media only screen and (min-width: 768px) {
    text-align: left;
  }

  @media only screen and (min-width: 1158px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

address {
  font-style: normal;
  color: var(--slate);
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  height: 100%;

  @media only screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media only screen and (min-width: 1158px) {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* ============================ CUSTOM ============================ */
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--ocean);
  border-color: var(--ocean);
  border: none;
}

.modal-close-btn:hover .close-icon,
.modal-close-btn:focus .close-icon {
  fill: var(--white);
}

/* ====================  HEADER SECTION ==================== */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;

  @media only screen and (min-width: 768px) {
    padding: 0 16px;
  }
}

.wb_link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  font-family: var(--second-family);
}

.wb {
  color: var(--navy-blue);
}

@media only screen and (min-width: 768px) {
  .navigation {
    display: flex;

    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
}

@media only screen and (min-width: 1158px) {
  .navigation {
    gap: 76px;
    flex-grow: 0;
  }
}

.navigation-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row;
    gap: 40px;
    font-weight: 500;
    color: var(--navy-blue);
    flex-grow: 1;
  }
}

.head-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  color: var(--navy-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;

  transform: scaleY(0);
  transform-origin: right;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-link:hover,
.head-link:focus {
  color: var(--ocean);
}

.head-link:active::after {
  transform: scaleY(1);
  transform-origin: left;
}

.adress-link:hover,
.adress-link:focus {
  color: var(--ocean);
}

.head-adress {
  display: none;
}

@media only screen and (min-width: 768px) {
  .head-adress {
    display: flex;
  }
}

.adress-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--slate);
}

@media only screen and (min-width: 768px) {
  .adress-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

@media only screen and (min-width: 1158px) {
  .adress-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.adress-item {
  display: flex;
}

.header-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 121px;
}

@media only screen and (min-width: 1158px) {
  .header-list {
    flex-direction: row;
    gap: 40px;
    margin-left: 0;
  }
}

.burger-btn {
  border: none;
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.burger-icon {
  stroke: transparent;
  fill: var(--common-black);
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  z-index: 10;
  transform: translateX(120%);
  transition: transform 0.5s linear;
  display: flex;
  flex-direction: column;
  padding-top: 72px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mob-menu-close-btn {
  background-color: transparent;
}

.mob-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-grow: 1;
}

.mob-link:hover,
.mob-link:focus {
  color: var(--iris);
}

.mob-link {
  font-weight: 700;
  font-size: 36px;

  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.mob-mail-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}

.social-menu-list {
  justify-content: start;
  gap: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

/* ==================== HERO SECTION ==================== */
.hero {
  background-image: linear-gradient(180deg, var(--grey), var(--grey)),
    url(../images/hero/bg-mobile.jpg);
  background-color: var(--navy-blue);
  max-width: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(180deg, var(--grey), var(--grey)),
      url(../images/hero/bg-mobile@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(180deg, var(--grey), var(--grey)),
      url(../images/hero/bg-tablet.jpg);
  }
  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(180deg, var(--grey), var(--grey)),
        url(../images/hero/bg-tablet@2x.jpg);
    }
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    background-image: linear-gradient(180deg, var(--grey), var(--grey)),
      url(../images/hero/bg.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(180deg, var(--grey), var(--grey)),
        url(../images/hero/bg@2x.jpg);
    }
  }
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 48px; */
  height: 100%;
  padding: 72px 0;
}

@media only screen and (min-width: 768px) {
  .hero .container {
    padding: 112px 0;
  }
}

@media only screen and (min-width: 1158px) {
  .hero .container {
    padding: 188px 0;
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  max-width: 216px;
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.hero-btn {
  display: block;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--iris);
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--white);
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}

/* ==================== FEATURES SECTION ==================== */

.features {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.features .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1158px) {
  .features-list {
    gap: 24px;
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 768px) {
  .features-item {
    max-width: 356px;
  }
}

@media only screen and (min-width: 1158px) {
  .features-item {
    width: calc((100% - 72px) / 4);
  }
}
.features-text {
  /* color: var(--slate); */
  font-weight: 500;
}

@media only screen and (min-width: 1158px) {
  .features-text {
    font-weight: 400;
  }
}

.features-icon-div {
  display: none;
}

@media only screen and (min-width: 1158px) {
  .features-icon-div {
    display: flex;
    background: var(--cloud);
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    width: 100%;
    height: 112px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
}
/* ==================== TEAM SECTION ==================== */
.team {
  background-color: var(--cloud);
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.tem-title {
  display: block;
}

.team .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
  padding-left: 28px;
  padding-right: 28px;

  @media only screen and (min-width: 768px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.team-list {
  display: flex;
  flex-direction: column;
  /* gap: 24px; */
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }
}

.team-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);

  @media only screen and (min-width: 1158px) {
    width: calc((100% - 72px) / 4);
  }
}

.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.team-item-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 0;
}

.social-team-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.social-team-icon {
  fill: var(--cloud);
}

.social-team-icon-link:hover,
.social-team-icon-link:focus,
.social-team-icon-link:active {
  background-color: var(--ocean);
}

/* ==================== PROTFOLIO SECTION ==================== */
.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .portfolio-list {
    row-gap: 72px;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
  }
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .portfolio-img {
    width: 356px;
    /* якщо прибрати, на планшетах заламається */
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-img {
    width: 100%;
  }
}

/* .portfolio-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
} */

.portfolio-img-description {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--iris);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.portfolio-item:hover .portfolio-img-description {
  transform: translateY(0%);
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.portfolio-item-container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--cornflower);
  border-top: none;
  padding: 32px 16px;
  /* flex-grow: 1; */
  gap: 8px;
}

/* ==================== FOOTER SECTION ==================== */

.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background: var(--navy-blue);
  color: var(--cloud);
  /* padding: 100px 0; */
}

.footer .container {
  /* display: flex;
  flex-direction: column;
  align-items: baseline; */
}

@media only screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: 24px;
    row-gap: 72px;
    padding-left: 108px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer .container {
    padding-left: 15px;
    gap: 0;
  }
}

.webstudio_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 72px;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .webstudio_footer {
    align-items: start;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .webstudio_footer {
    margin-right: 120px;
  }
}

.wb_link_footer {
  margin-bottom: 16px;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  font-family: var(--second-family);
  padding: 1.5px 0;
}

.wb_footer {
  color: var(--cloud);
}

@media only screen and (min-width: 768px) {
  .p_footer {
    max-width: 264px;
  }
}

.social-link-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 72px;
  /* margin-right: 80px; */
}

@media only screen and (min-width: 768px) {
  .social-link-footer {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .social-link-footer {
    margin-right: 80px;
  }
}

.social-team-list-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  height: 40px;
}

.social-footer-text {
  font-weight: 500;
  color: var(--white);
  text-align: center;
}

@media only screen and (min-width: 1158px) {
  .social-footer-text {
    text-align: left;
  }
}

.social-footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  height: 40px;
}

.social-footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer-icon-link:hover,
.social-footer-icon-link:focus,
.social-footer-icon-link:active {
  background-color: var(--green);
}

.subscribe-footer {
  display: flex;
  flex-direction: column;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .subscribe-form {
    flex-direction: row;
  }
}

.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .subscribe-title {
    text-align: left;
  }
}

.subscribe-label {
  width: 100%;
}

.subscribe-input {
  border: 1px solid var(--white);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  outline: none;
  /* background: var(--navy-blue); */
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: border-color 250ms linear;
}

@media only screen and (min-width: 768px) {
  .subscribe-input {
    width: 264px;
  }
}

.subscribe-input:focus {
  border-color: var(--ocean);
}

.subscribe-input::placeholder {
  color: var(--white);
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  border: none;
  padding: 8px 24px;
  max-width: 165px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  white-space: nowrap;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--ocean);
}

.social-link-icon {
  margin-left: 16px;
}

/* ==================== MODAL SECTION ==================== */
.modal-overlay {
  background: var(--navy-blue-modal);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px 16px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: var(--dairy);
  width: 288px;
  height: 623px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    height: 584px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.modal-lable {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  margin-bottom: 4px;
}

.modal-lable-textarea-div {
  margin-bottom: 16px;
}

.modal-input-div {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  font-size: 18px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-textarea:focus {
  border-color: var(--iris);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-wrapper {
  /* display: flex;
  align-items: center;
  gap: 12px; */
  margin-bottom: 24px;
}

.checkbox-label {
  display: flex;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  align-items: center;
  gap: 7.5px;
}

.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  min-width: 16px;
  border-radius: 2px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .custom-checkbox {
    max-width: 16px;
  }
}

.is-active {
  display: block;
}

.modal-checkbox:checked + .checkbox-label .custom-checkbox {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.policy-link {
  color: var(--iris);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: var(--iris);
}

.input-wrapper {
  position: relative;
  margin-bottom: 8px;
}
